.root {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-padding: 20;
    -fx-pref-width: 650;
    -fx-pref-height: 550;
    -fx-background-image: url(../images/userInterface.jpg);
    -fx-background-size: cover;
}

.betterFont {
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#switch {
    -fx-background-image: url(../images/switch.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 11 6 ;
    -fx-padding: 0 0 0 2;
}

#Printer {
    -fx-pref-width: 400;
}

TextField {
    -fx-pref-height: 35;
}

#Input {
    -fx-pref-width: 450;
}



/*.box {*/
    /*-fx-padding: 10 10;*/
    /*-fx-border-color: #ccc;*/
    /*-fx-border-width: 1;*/
    /*-fx-border-radius: 3, 2;*/
/*}*/
.control_box {
    -fx-padding: 20 0 0 0;
}

Button {
    -fx-pref-width: 150;
    -fx-pref-height: 35;
}

Button, TextArea, TextField{
    -fx-opacity: 75%;
}

#runButton {
    -fx-pref-width: 150;
    -fx-pref-height: 75;
}